@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

p {
    margin: 0;
}

.outer-container {
    display: flex;
    justify-content: center;
}

.inner-container {
    max-width: 1044px;
    width: 100%;

}

.logo {
    margin-top: 12px;
    margin-right: 66px;
}

header.wrapped {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 68px;

}

header ul {
    display: flex;
    list-style-type: none;
    margin-top: 27px;
    padding: 0;

}

.nth-last-child {
    margin-right: 27px; /* Відступ 51 піксель передостаннього елемента */
}

header ul select:last-child {
    margin-right: 0; /* Останній елемент не потребує відступу */
}

header a {

    color: #fff;
    text-decoration: none;
    marker: none;
    margin-right: 24px;

}

header a:hover {
    color: #fff;
    text-decoration: none;
}

header select {
    border: none;
    background: none;
    color: white;
}

header select:hover {
    border: none;
}

.mainScreen {
    background: rgba(7, 5, 14, 0.8) url('img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: multiply;

}

.breadcrumb {
    list-style: none;
    display: flex;
    padding: 0;

    background: none;
    border-radius: 4px;
    font-size: 12px;
    font-family: Inter;
    /*height: 20px;*/
}

.breadcrumb li {
    display: flex;
    align-items: center;

}

.breadcrumb li + li::before {
    content: ">";
    margin: 0 8px;
    color: rgba(149, 149, 149, 1);
}

.breadcrumb a {
    text-decoration: none;
    color: #fff;

}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb .active {
    color: rgba(149, 149, 149, 1);

}

div.wrapped {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 47px;
    margin-bottom: 47px;

}

.coralBox {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
    position: relative;
}

.coralBeach {
    width: 599px;
    height: 465px;
    border-radius: 12px;
    margin-right: 24px;
    position: relative;
    display: inline-flex;
    flex: 1 1 599px;
}

.coralBeach img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.box {
    width: 240px;
    height: 110px;

}

.box .group {
    position: absolute;
    width: 240px;
    height: 110px;
    left: 0;
    bottom: 0;
}

.box .overlap-group {
    position: absolute;
    width: 240px;
    height: 110px;
    background-image: url(/img/rectangle-4032.svg);
    background-size: 100% 100%;
}

.box .element-per-day {
    position: absolute;
    font-family: Inter;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
    width: 240px;
    height: 110px;

}

.box .text-wrapper {
    /*display: flex;*/
    position: absolute;
    font-weight: 800;
    font-size: 48px;

    width: 142px;
    height: 56px;
    left: 49px;
    top: 44px;
    /*bottom: 10px;*/
}

.box .supText {
    font-family: Inter;
    font-weight: 400;
    font-size: 26px;
}

.box .sbText {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.stars{
    width: 24px;
    height: 24px;
    /*fill: rgba(243, 204, 64, 1);*/
    transition: fill 0.3s ease;
}

.stars:hover {

    fill: rgba(243, 204, 64, 1);
}

.coralBoxText {
    padding-top: 29.5px;
    padding-bottom: 29.5px;
    display: inline-flex;
    flex: 1 1 calc(100% - 599px - 24px);
    flex-direction: column;
}

.coralText {
    font-family: Raleway;
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 17px;
    margin-bottom: 17px;
    stroke: rgba(0, 0, 0, 1);
    stroke-width: 1px;

}

.coralIcons {
    display: flex;
    font-family: Raleway;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    align-items: center;

}

div.coralIcons {
    display: flex;

}

.pinAlt {
    margin-right: 8px;
}

.midAir {
    margin-right: 8px;
    margin-left: 24px;
}

.btnGetFree {
    background-color: rgba(149, 192, 50, 1);
    border-radius: 12px;
    font-size: 16px;
    font-family: Raleway;
    color: #fff;
    font-weight: 800;
    margin-top: 48px;
    padding: 15px 32px 15px 32px;
    border: none;
    letter-spacing: 0.02em;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.btnGetFree:hover {
    background-color: rgba(133, 157, 61, 100%);
}

.grpCheck {
    display: flex;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    justify-content: space-between;
    padding: 2px 0;
}

.grpCheck p {

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 154px;
    height: 28px;
    white-space: break-spaces;
    letter-spacing: 0.02em;
    gap: 4px;

}

.grpCheck p::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("img/CheckRingLight.svg") no-repeat center center;
    flex-shrink: 0;
}

.mapClass {
    display: flex;
    margin-top: 156px;
    margin-bottom: 60px;
    width: 1044px;
    height: 400px;
}

.mapClass .sectorTwoText {
    padding-left: 24px;
    padding-bottom: 24px;
    padding-top: 73px;
    font-weight: 800;
    font-size: 32px;
    font-family: Raleway;
    color: #2F3B40;
}

.mapClass .sectorTwoMoreText {
    padding-left: 24px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    color: #637075;
}

.overlapPic {
    padding: 10px;
    position: relative;
    background: url("img/backPic.png") center center no-repeat;
}

.bottomBorder {
    position: absolute;
    width: 579px;
    height: 34px;
    background-color: #ffffff;
    text-align: center;
    bottom: 10px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.flipArrow {
    margin: 0 8px;

}

.bottomBorder p {
    padding: 8px 0;
    width: 100%;
    height: 18px;
    font-weight: 800;
    font-size: 18px;
    font-family: Inter;
    color: #5BBCE4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.priceInclude {
    background-color: #F2F9FD;
    padding-bottom: 90px;

}

.priceText {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    color: #2F3B40;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    /*margin-left: 843px;*/
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    color: #2F3B40;

}

.row div {
    width: 332px;
    height: 104px;
    background-color: #ffffff;
    /*margin: 24px;*/
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 8%);
}

.row div:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.row p {
    font-weight: 600;
    font-size: 16px;
    font-family: Raleway;
    padding-right: 16px;
}

.row img {
    margin: 16px;

}

.row span {
    font-size: 12px;
    font-family: Raleway;
    font-weight: 400;
    display: block;
}

.priceInclude .btnGetFree {
    display: block;
    margin: 40px auto 0 auto;
}

.sportStrMain {
    padding-top: 60px;
    padding-bottom: 119px;
}

.sportStructure h3 {
    font-weight: 800;
    font-family: Raleway;
    font-size: 32px;
    text-align: center;
}

.sportStructure p {
    font-weight: 800;
    font-family: Raleway;
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
}

.imgPool {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; /* Відстань між блоками */
    flex-direction: column;
    height: 347px;
    padding-bottom: 24px;
}

.imgWrapper {
    position: relative;
    display: inline-block;
}

.imgWrapper img {
    display: block;
}

.imgWrapper p {
    position: absolute;
    bottom: 8px; /* Відступ від нижнього краю зображення */
    left: 7px; /* Відступ від лівого краю зображення */
    margin: 0;
    padding: 5px 10px;
    background: #ffffff;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    font-family: Raleway;
    border-radius: 12px;
}

.mainPool {
    width: 511px;
    height: 347px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}

.onePool,
.twoPool,
.threePool,
.fourPool {
    width: 244px;
    height: 161px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 25%);
}


.swimTables {
    width: 1045px;
    height: 378px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 10%);
}

.styledTable {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;

}

.styledTable thead tr th {
    text-align: left;
    border-bottom: 1px solid rgba(211, 211, 211, 1);
    padding-top: 20px;
    padding-bottom: 16px;
    text-align: left;
    width: 270px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 700;
}


.styledTable thead tr th:first-child {
    padding-left: 16px; /* перший елемент у рядку */
    text-align: left;
}

.styledTable thead tr th:last-child {
    padding-right: 24px; /* останній елемент у рядку */
    text-align: right;
}

.styledTable thead tr th.lineTable {
    width: 32px;
}

.styledTable thead tr td {
    text-align: left;
    border-bottom: 1px solid rgba(211, 211, 211, 1);
    padding: 13.75px 0;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
}

.styledTable thead tr td:first-child {
    padding-left: 36px; /* перший елемент у рядку */
    text-align: left;
}

.styledTable thead tr td:last-child {
    padding-right: 24px; /* останній елемент у рядку */
    text-align: right;
    font-weight: 600;
    font-family: Raleway;
    font-size: 12px;
}

.styledTable thead tr td.lineTable {
    width: 32px;
    text-align: center;
}

.styledTable thead tr td img {
    margin-left: 15px;
}

.styledTable tbody tr td ul li {
    font-weight: 500;
    font-family: Raleway;
    font-size: 12px;
    text-align: left;
    height: 16px;
    margin-top: 14px;
}

.styledTable tbody tr td ul li.disableCheck {
    color: rgba(204, 204, 204, 1);
}

.styledTable tbody tr td ul {
    margin: 0;
    margin-bottom: 24px;
    position: relative;
    list-style: none;
}

.styledTable tbody tr td {
    vertical-align: top;
}


.styledTable tbody tr td ul li::before {
    content: '';
    position: absolute;
    left: 22px;
    width: 16px; /* Встановлює ширину зображення */
    height: 16px; /* Встановлює висоту зображення */
    background-image: url(img/checkTables.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.styledTable tbody tr td ul li.disableCheck::before {
    content: '';
    position: absolute;
    left: 22px;
    width: 16px; /* Встановлює ширину зображення */
    height: 16px; /* Встановлює висоту зображення */
    background-image: url(img/disableCheck.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.styledTable tbody tr td:last-child {
padding-left: 50px;
}

.aquaVista{
    background-color: #F2F9FD;
}